article > header div.header-meta {
    color: $color_font_dark;
}


$prio_count: 6;
$palette_prio: ();
$step: (hue($color_danger) - hue($color_highlight)) / ($prio_count - 1);


@for $i from 0 through $prio_count - 1 {

       $palette_prio: append($palette_prio, adjust_hue($color_highlight, $step * $i));
}

article.content-type-task {

    &.mode-teaser {

        &.priority-none {
            border-left: 0.25rem solid nth($palette_prio, 1);
        }

        &.priority-very-low {
            border-left: 0.25rem solid nth($palette_prio, 2);
        }

        &.priority-low {
            border-left: 0.25rem solid nth($palette_prio, 3);
        }

        &.priority-normal {
            border-left: 0.25rem solid nth($palette_prio, 4);
        }

        &.priority-high {
            border-left: 0.25rem solid nth($palette_prio, 5);
        }

        &.priority-very-high {
            border-left: 0.25rem solid nth($palette_prio, 6);
        }


        .teaser-link {

            display: block;
            text-decoration: none;
            margin-bottom: 1rem;

            .title {

                margin-top: 0;
                transition: text-shadow 0.3s linear;
            }

            &:hover,
            &:focus {
                    
                color: $color_font_light;

                .title {
                    text-shadow: 0 0 0.1rem $color_highlight, 0 0 1rem $color_highlight;
                }
            }
        }

        .dependency-tree {
            margin-bottom: 1rem;
        }

        .tags {
            
            font-size: 80%;
            text-align: left;

        }

        .checkdate {

            margin-top: 1rem;
            font-size: 70%;
            text-align: right;

            &.checkdate-passed {
                font-weight: bold;
                color: $color_danger;
            }
            &.checkdate-24h {
                font-weight: bold;
                color: opacify($color_highlight, 100%);
            }
        }
    }

    .priority {

        padding: 0.25rem;

        &.priority-none {
            background: nth($palette_prio, 1);
        }

        &.priority-very-low {
            background: nth($palette_prio, 2);
        }

        &.priority-low {
            background: nth($palette_prio, 3);
        }

        &.priority-normal {
            background: nth($palette_prio, 4);
        }

        &.priority-high {
            background: nth($palette_prio, 5);
        }

        &.priority-very-high {
            background: nth($palette_prio, 6);
            font-weight: bold;
        }
    }
}

.flex-columns {

    display: flex;
    flex-direction: row;

    .column {

        flex-basis: 100%;
        margin-right: 0.5rem;

        &:last-child {
            margin-right: 0;
        }

        & > article {

            margin-bottom: 1rem;
            text-align: center;

            & > .content {
                background: opacify($color_background_light, -75%);
                padding: 0.5rem;
            }

            &.checkdate-passed > .content {
                background: opacify($color_danger, -70%);
            }

            &.checkdate-24h > .content {
                background: opacify($color_highlight, -70%);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

    }
}

.dependency-tree {

    margin-top: 1rem;
    text-align: left;
    font-size: 80%;

}

.progress-bar {
    svg {
        overflow: visible;
    }
}
