{% extends "commentable.jinja" %}

{% block header %}{% endblock %}

{% block content %}

    <div class="meta">
        {% if mode != 'full' %}
            <span class="title">{{ content.render('inline') }}</span>
        {% endif %}
        <span class="priority-wrapper">Priority: <span class="priority {{ content.priority_css }}">{{ content.priority_label }}</span></span>
        <span class="checkdate">{{ content.checkdate}}</span>
        <span class="progress">{{ content.progress }}% finished</span>
    </div>

    {% with tree = content.tree() %}
        {% if tree.children|length %}
            <div class="dependency-tree">
                <h5>Dependencies</h5>
                {{ tree.render() }}
            </div>
        {% endif %}
    {% endwith %}

    {% if mode == 'full' %}
       {{ content.description.render() }}
    {% endif %}

{% endblock %}

{% block footer %}
    {% if mode == 'full' %}
        {{ content.created }}{{ super() }}
    {% endif %}
{% endblock %}
