{% extends "renderable.jinja" %}

{% block content %}

    <aside class="priority-legend">
        <span class="priority priority-very-low">very low</span>
        <span class="priority priority-low">low</span>
        <span class="priority priority-normal">normal</span>
        <span class="priority priority-high">high</span>
        <span class="priority priority-very-high">very high</span>
    </aside>

    <div class="flex-columns">

        <div class="column new">
            <h3>New</h3>
            {% for task in content.new %}
                {{ task.render('teaser') }}
            {% endfor %}
        </div>

        <div class="column ongoing">
            <h3>Ongoing</h3>
            {% for task in content.ongoing %}
                {{ task.render('teaser') }}
            {% endfor %}
        </div>

        <div class="column finished">
            <h3>Finished</h3>
            {% for task in content.finished %}
                {{ task.render('teaser') }}
            {% endfor %}
        </div>

    </div>

{% endblock %}
