{% extends "commentable.jinja" %}

{% block header %}{% endblock %}

{% block content %}

    <a class="teaser-link" href="{{ content.url('full') }}">
        <div class="meta">
            <div class="title">{{ content.title }}</div>
            <div class="progress">
                <div class="progress-bar">{{ content.progress_svg }}</div>
                {{ content.progress }}% finished
            </div>
            <div class="checkdate {{ content.checkdate_css }}">{{ content.checkdate}}</div>
        </div>
    </a>

    {% with tree = content.tree() %}
        {% if tree.children|length %}
            <div class="dependency-tree">
                {{ tree.render() }}
            </div>
        {% endif %}
    {% endwith %}

{% endblock %}


{% block footer %}{% endblock %}
