{% extends "renderable.jinja" %}

{% block content %}

    <div class="flex-columns">

        <div class="column new">
            <h3>New</h3>
            {% for task in content.new %}
                {{ task.render('teaser') }}
            {% endfor %}
        </div>

        <div class="column ongoing">
            <h3>Ongoing</h3>
            {% for task in content.ongoing %}
                {{ task.render('teaser') }}
            {% endfor %}
        </div>

        <div class="column finished">
            <h3>Finished</h3>
            {% for task in content.finished %}
                {{ task.render('teaser') }}
            {% endfor %}
        </div>

    </div>

{% endblock %}
