{% extends "commentable.jinja" %}

{% block header %}{% endblock %}

{% block content %}

    <a class="teaser-link" href="{{ content.url('full') }}">
        <h4 class="title">{{ content.title }}</h4>
        <div class="progress">
            <div class="progress-bar">{{ content.progress_svg }}</div>
            {{ content.progress }}% finished
        </div>
    </a>

    {% with tree = content.tree() %}
        {% if tree.children|length %}
            <div class="dependency-tree">
                {{ tree.render() }}
            </div>
        {% endif %}
    {% endwith %}

    <div class="tags">
        {% for tag in content.tags %}
            {{ tag.render('inline') }}{% if not loop.last %},{% endif %}
        {% endfor %}
    </div>

    <div class="checkdate {{ content.checkdate_css }}">{{ content.checkdate}}</div>

{% endblock %}


{% block footer %}{% endblock %}
