{% extends "commentable.jinja" %}

{% block header %}{% endblock %}

{% block content %}

    <a class="teaser-link" href="{{ content.url('full') }}">
        <div class="meta">
            <span class="title">{{ content.title }}</span>
            <span class="priority-wrapper">Priority: <span class="priority {{ content.priority_css }}">{{ content.priority_label }}</span></span>
            <span class="checkdate {{ content.checkdate_css }}">{{ content.checkdate}}</span>
            <span class="progress">
                <object data="{{ content.progress_svg }}" /></object>
                {{ content.progress }}% finished
            </span>
        </div>
    </a>

    {% with tree = content.tree() %}
        {% if tree.children|length %}
            <div class="dependency-tree">
                <h5>Dependencies</h5>
                {{ tree.render() }}
            </div>
        {% endif %}
    {% endwith %}

{% endblock %}

{% block footer %}{% endblock %}
