{% extends "commentable.jinja" %}

{% block header %}
    {{ super() }}
    <div class="header-meta">
        <span>Priority: {{ content.priority }}</span>
        <span>Timeframe: {{ content.checkdate }}</span>
    </div>
{% endblock %}

{% block content %}{{ content.description.render() }}{% endblock %}

{% block footer %}{{ content.created }}{{ super() }}{% endblock %}
